
body {
     background-color: rgb(39, 14, 14);
    color:rgb(236, 234, 234);
    font-family: sans-serif;
    margin: 0%;
    padding: 0%;
   font-size: 80px;;    
}
.briefabout > p {
  animation-duration: 3s;
  animation-name: slide-in;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.header{
    display: flex;
    background-color: rgb(107, 223, 223);
     text-align: center;
     padding: 0px;
     margin: 0px;
     flex-direction: column;
     font-size: 100px;
     flex-wrap: wrap;
     font-size: 60px;

}
.header > h1 {
 color: rgb(55, 26, 102);
  font-family: "Lobster", sans-serif;
  font-weight: 70;
  font-style: normal;
  margin: 0px;
}





.navigation, a {
 text-decoration: none;
 color: rgb(21, 21, 172);
background-color: rgb(58, 126, 111);
margin: 0px;
padding: 0px;
border: 0px;
}
 a:hover{
    background-color: brown;
}
.navbuttonslistgroup > li {
    list-style: none;
    display: flex;
    padding-right: 20px;
    padding-left: 20px;
    color: black;
    font-size: 80px;
    text-align: right;
    margin: 0px;
    align-item: right;
    justify-content: right;
    flex-direction: row;
    cursor: pointer;
    transition: 150ms ease;
}
.navbuttonslistgroup > li:hover{
    background-color: rgb(214, 77, 35);
    scale: 1;
}
.navbuttonslistgroup{
    display:flex;
    flex-direction: row;
    justify-content: right;
    flex-wrap: wrap;
    margin: 0px;
    padding-right: 25px;
    border: 0px;
    font-size: 80px;
}
.navigation{
    flex-direction: row;
    flex-direction: column;
}

.briefproject, .briefabout, .briefcontact, .skillsandstacks, .skillsandstacks  {

background-color: rgb(35, 34, 55); 
 margin: 0;
 border-radius: 40px;
 text-align: center;

}

.briefproject {
    grid-row-start: 3;
    grid-column: span 2;
}
.briefcontact {
    grid-column-start: 1;
    grid-row-start: 4;
    grid-column: span 2;
}

.briefabout {
    display: grid;
    font-size: 80px;
    text-align: left;
    padding-left: 40px
   
}


#profilepic {
    border-radius: 10px;
    display: grid;
    align-items: center;
    justify-self: center;
    width: 900px;
    height: 900px;
margin-top: 5%;
    background-color: rgb(221, 95, 37);
    margin-bottom: 10;
}
/*#contactme {
    display: flex;
    color:rgb(150, 150, 183);
    background-color: rgb(35, 34, 55);
    gap: 5px;
    flex-direction: column;
    text-align: left;
    justify-content: left;
    margin: 0px;
    padding: 0px;    
}*/

.skillsandstacks > li {
list-style: none;
padding: 10px;
}
/*.briefabout{   
    align-items: center;
    gap: 20px;
    display:flex;
    text-align:right;
 
}*/
#project1, #project2, #project3 {
    border: 5px solid rgb(115, 115, 211);
    border-radius: 10px;
    margin: 10px;
    paddding: 10px;
    background-color: rgb(38, 38, 74);
    color: rgb(201, 197, 197);
}

#form > #username, #message, #inputnumber{
    display: block;
    border: 10px solid none;
    margin: 10px;
}
#form {
    font-size: 40px;
}
#cont {
    display: flex;
 text-align: left;
margin: 0;
padding: 0px;
font-size: 30px;
display: block;
}
.mainforhome {
 display: grid;
 grid-template-columns: 900px 1fr;
 grid-template-rows:600px 900px ;

}

.skillsandstacks {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-column: span 2;
    font-size: 60px;
}



.skillshead {
    display: grid;
    grid-column:span 2;
}
.devopstext {
    display: grid;
    grid-column-start: 1;
}

.csstext {
    display: grid;
    grid-row-start: 4;
}

.htmltext{
    display: grid;
    grid-row-start: 3 ;
}


.javatext {
    display: grid;
    grid-row-start: 2;
}
.javapic {
    grid: display;
    grid-column-start: 2;
   grid-row-start: 2;
}
.htmlpic {
    grid-column-start: 2;
    grid-row-start: 3;
}
.csspic {
    grid-column-start: 2;
    grid-row-start: 4;

   
}
.skillsandstacks > section > img {
    border-radius: 20px;
    height: 110px;
    width: 100px;
    padding: 10px;
}


.bodyforproject > #project1 {
   display: grid;
    grid-template-columns: 30% 70% ;
    grid-template-rows: 3;
    text-align: left;
    align-items: center;
    font-size: 40px;
}
.bodyforproject>section>img {
    border-radius: 10px;
    
}
/*.bodyforproject>section>p {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row: span 2;
}*/
.bodyforproject>#project1{
    display: flex;
    gap: 2%;
}
.bodyforproject>#project2 {
    display: flex;
    margin-top: 2%;
    gap: 2%;
     font-size: 40px;
}
.bodyofcontacts {
    display: flex;
    justify-content:center;    
    align-items: center;
    border: 10px solid white;
    min-height:fit-content;
    flex-direction: column;   
    min-width:10px;
    margin-top:0;
    flex-grow: 1;
    margin-left: 37%;
    max-width:max-content;
    border-radius: 30px;
    background-color: rgb(28, 72, 57);
}

.bodyofcontacts >section>form>label{
 font-size: 130px;
}



#homeproject1 {
    display: flex;
    font-size: 50px;
    text-align: justify;
}
#homeproject2 {
    display: flex;
    margin-top: 3%;
    font-size: 50px;
    text-align:justify;
}
.mozumapic {
    border-radius: 50px;
    width: 1000px;
    height: 500px;
    padding: 20px;
}
.carpic {
    border-radius: 50px;
     width: 1000px;
    height: 500px;
    padding: 20px;
}
footer {
    display: grid;
    background-color: burlywood;
    margin: 0px;
    padding: 0px;
    max-height: 100%;
    border: 0px;
     bottom: 0 ;
}
footer>p{
    bottom: 0 ;
    margin: 0;
    padding: 0%;
    border: 0px;
    font-size: 60px;
}
.body {
    background-color: rgb(14, 56, 93);
    display: grid;
    min-height:100vh;
    grid-template-rows: auto 1fr auto;
}

@media all and (max-width:576px){

.bodyofcontacts >section>form>label{
 font-size: 30px;
}
.bodyofcontacts >section>h2{
 font-size: 4px;
}
#message {
    font-size: 10px;
}
.header > h1 {
    font-size: 60px;
}
footer> p {
    font-size: 40px;
}

    .body{
        display: grid;
      margin: 0;
      padding: 0;
      border: 0;
    }
    .briefabout{
        display: grid;
        grid-row-start: 2;
    }
    #homeproject1 {
        display: flex;
        flex-direction: column;
    }
    #homeproject2 {
        display: flex;
        flex-direction: column;
    }


    #homeproject1 > img {
        border-radius: 39px;
        width:840px;
    }
    #homeproject2 > img {
          border-radius: 39px;
        width:fit-content;
    }
    .detailedabout > p, h2 {
        font-size: 55px;
    }
    .navbuttonslistgroup > li {
        font-size: 30px;
    }

} 
